<form action="timezone" method="post">
	<label> Please enter some text down here, and I have some very fun statistics to show you! </label><br>
	<input type="text" name="message" placeholder="Enter your text here..." style="width:250px,height:250px">
	<br><br><br>
	<input type="submit" value="Get me the time!!!" style="margin-left:80px">
</form>