<form action="Your friend timezone" method="post">
	<label> What City ? </label>
	<input type="text" name="user_city" placeholder="Put your city name in here!">
	<br><br><br>
	<input type="submit" value="Get me the time!!!" style="margin-left:120px">
</form>